# Medusa v2 Database Requirements
DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<database>
REDIS_URL=redis://<user>:<password>@<host>:<port>

# Medusa Core Settings
NODE_ENV=development
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:9000
AUTH_CORS=http://localhost:9000
